img.circle{
  width: 36px;
  height: 36px;
}

.name-btn{
  margin-left: 3rem;
  padding: 0;
  background: transparent;
  background-color: transparent;
  box-shadow: none;
  border: none;
  line-height: normal;
  text-transform: none;
}
.t{
  /*line-height: 0;  */
  margin-top: -60px;
  font-size: small;
  height: 0;
  
}

.nopm button{
  background-color: white;
  color: black;
  box-shadow: none;
}
.nr{
  border-radius: 0 0 0 0;
}
.commentBox{
  padding: 0;
  margin: 0;
}
.card-content{
  padding: 10px;
}
.nopm{
  padding: 0;
  margin: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.pt{
  padding-top: 5px;
}
.a.btn{
  /*margin-left: 3rem;*/
  padding: 0;
  background: transparent;
  background-color: transparent;
  box-shadow: none;
  border: none;
  line-height: normal;
  text-transform: none;
  font-size: small;
  height: auto;
  color: #039be5;
}
.a.btn i{
  font-size: 1rem;
  color: #039be5;
  margin-right: 5px;
  
}
.pc{
  padding-top: 0;
  padding-bottom: 0;
}
.row{
  margin-bottom: 0;
}
.optionBtn{
  margin-top: -40px;
  padding: 0;
  background: transparent;
  background-color: transparent;
  box-shadow: none;
  border: none;
  /*line-height: normal;*/
  text-transform: none;
  font-size: small;
  /*height: auto;*/
  /*color: grey;*/
  cursor: pointer;
}
.modal{
  max-width: 100%;
  min-width: 30%;
}
ul{
  margin-top: -35px
}
li{
  padding: 0;
  margin: 0;
}
li a i {
  font-size: 20px;
}