<div class="my-container">
  <nav class="no-opacity black">
    <div class="container">
    <div class="nav-wrapper no-opacity">
          <a class="brand-logo left">
        <i class="material-icons prefix" style="margin-right: 0;">play_arrow</i>
        <button class="btn-flat white-text" style="padding: 0; text-transform: none; font-weight: normal;"><b>A</b>ud<b>G</b>ram</button>
        </a>
      <ul id="nav-mobile" class="right">
        <li><a [routerLink]="['/login']">Login</a></li>
        <li><a [routerLink]="['/register']">Create an account</a></li>
      </ul>
    </div>
    </div>
  </nav>
  <div class="container"  *ngIf="show">
  <router-outlet></router-outlet>
  </div>
  <div class="container"  *ngIf="!show" style="text-align: center;">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
